<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col d-flex justify-content-between">
            <div>
              <!-- Title -->
              <h5 class="d-flex align-items-center text-uppercase text-muted fw-semibold mb-2">
                <span i18n="@@workspace-home-card-enrollment-count">Enrollments</span>
              </h5>

              <!-- Subtitle -->
              <h2 class="mb-0">
                {{ enrollmentCount }}
              </h2>

              <!-- Comment -->
              <p class="fs-6 text-muted mb-0">
                <ng-container i18n="@@workspace-home-card-enrollment-count-description">Total enrollment processes</ng-container>
              </p>
            </div>

            <span class="text-primary">
              <i class="ms ms-xxl ms-family-star"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
