<div class="d-flex align-items-baseline justify-content-between">

  <!-- Title -->
  <h1 class="h2">
    <ng-container i18n="@@workspace-facility-update-title">New facility</ng-container>
  </h1>

  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="[ '/' ]" i18n="@@workspace-nav-link-home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a [routerLink]="[ '/workspace/facilities' ]" i18n="@@workspace-nav-link-facilities">Facilities</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <ng-container i18n="@@workspace-nav-link-facilities-new">New</ng-container>
      </li>
    </ol>
  </nav>
</div>

<form [formGroup]="form" (submit)="submit()">
  <div class="card">
    <div class="card-header">
      <div class="card-header-title h4">
        <ng-container i18n="@@workspace-facility-update-card-title">Facility</ng-container>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3">
          <app-sui-form-group #code [name]="'code'" class="d-block mb-4">
            <label [class.is-invalid]="code.invalid" [class.is-required]="code.required"
              [for]="code.id" class="form-label">
              <ng-container i18n="@@workspace-facility-update-code">Code</ng-container>
            </label>
            <input [class.is-invalid]="code.invalid" [class.is-required]="code.required"
              [formControl]="code.formControl" [id]="code.id" class="form-control"
              placeholder="" i18n-placeholder="@@workspace-facility-update-code-placeholder" type="text" />
          </app-sui-form-group>
        </div>
        <div class="col-lg-9">
          <app-sui-form-group #name [name]="'name'" class="d-block mb-4">
            <label [class.is-invalid]="name.invalid" [class.is-required]="name.required"
              [for]="name.id" class="form-label">
              <ng-container i18n="@@workspace-facility-update-name">Name</ng-container>
            </label>
            <input [class.is-invalid]="name.invalid" [class.is-required]="name.required"
              [formControl]="name.formControl" [id]="name.id" class="form-control"
              placeholder="" i18n-placeholder="@@workspace-facility-update-name-placeholder" type="text" />
          </app-sui-form-group>
        </div>
        <app-sui-form-group #description [name]="'description'" class="d-block mb-4">
          <label [class.is-invalid]="description.invalid" [class.is-required]="description.required"
            [for]="description.id" class="form-label">
            <ng-container i18n="@@workspace-facility-update-description">Description</ng-container>
          </label>
          <input [class.is-invalid]="description.invalid" [class.is-required]="description.required"
            [formControl]="description.formControl" [id]="description.id" class="form-control"
            placeholder="" i18n-placeholder="@@workspace-facility-update-description-placeholder" type="text" />
        </app-sui-form-group>
      </div>
    </div>
    <div class="card-footer d-flex align-items-center justify-content-end">
      <a [routerLink]="[ '/workspace/facilities' ]" class="btn btn-light me-4">
        <ng-container i18n="@@workspace-facility-update-secondary-button">Go back to search</ng-container>
      </a>
      <button [disabled]="form.invalid" class="btn btn-primary" type="submit">
        <ng-container i18n="@@workspace-facility-update-primary-button">Submit</ng-container>
      </button>
    </div>
  </div>
</form>

<app-sui-modal
  #success
  [actions]="successActions"
  title="All done!"
  i18n="@@workspace-facility-update-success-modal"
  i18n-title="@@workspace-facility-update-success-modal-title">
  The facility has been saved successfully.
</app-sui-modal>
