<ng-container [formGroup]="guardian">

  @if (filiation && filiation.length)
  {
    <div class="border-bottom border-top py-4 mb-4">
      @for (parent of filiation.controls; track $index)
      {
        <button class="btn btn-large btn-primary d-flex align-items-center mx-4" (click)="importGuardian($index)">
          <div>{{ parent.value.name }}</div>
          <i class="ms ms-download fs-1 ms-2"></i>
        </button>
      }

    </div>
  }

  <section class="identification-section mb-4">
    <div class="border-bottom fs-5 fw-bold mb-4 py-2">
      <ng-container i18n="@@workspace-enrollment-update-guardian-identification">Identification</ng-container>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <app-sui-form-group #name [name]="'name'" class="d-block mb-4">
          <label [class.is-invalid]="name.invalid" [class.is-required]="name.required"
            [for]="name.id" class="form-label">
            <ng-container i18n="@@workspace-enrollment-update-guardian-name">Name</ng-container>
          </label>
          <input [class.is-invalid]="name.invalid" [class.is-required]="name.required"
            [formControl]="name.formControl" [id]="name.id" type="text" class="form-control" tab-index="1"
            placeholder="Full name" i18n-placeholder="@@workspace-enrollment-update-guardian-name-placeholder">
        </app-sui-form-group>
      </div>
      <div class="col-lg-3">
        <app-sui-form-group #birth [name]="'birth'" class="d-block mb-4">
          <label [class.is-invalid]="birth.invalid" [class.is-required]="birth.required"
            [for]="birth.id" class="form-label">
            <ng-container i18n="@@workspace-enrollment-update-guardian-birth">Birth</ng-container>
          </label>
          <input [class.is-invalid]="birth.invalid" [class.is-required]="birth.required"
            [formControl]="birth.formControl" [id]="birth.id" type="date" class="form-control" tab-index="1"
            placeholder="Birthday" i18n-placeholder="@@workspace-enrollment-update-guardian-birth-placeholder">
        </app-sui-form-group>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <app-sui-form-group #nationality [name]="'nationality'" class="d-block mb-4">
          <label [class.is-invalid]="nationality.invalid" [class.is-required]="nationality.required"
            [for]="nationality.id" class="form-label">
            <ng-container i18n="@@workspace-enrollment-update-guardian-nationality">Nationality</ng-container>
          </label>
          <select [class.is-invalid]="nationality.invalid" [class.is-required]="nationality.required"
            [formControl]="nationality.formControl" [id]="nationality.id" type="date" class="form-select" tab-index="1">
            <option disabled></option>
            @for (option of nationalities; track option.countryCode) {
              <option [value]="option.countryCode">{{ option.name }}</option>
            }
          </select>
        </app-sui-form-group>
      </div>
      @if (guardian.controls.birthplace) {
        <div class="col-lg-3">
          <app-sui-form-group #birthplace [name]="'birthplace'" class="d-block mb-4">
            <label [class.is-invalid]="birthplace.invalid" [class.is-required]="birthplace.required"
              [for]="birthplace.id" class="form-label">
              <ng-container i18n="@@workspace-enrollment-update-guardian-birthplace">Birthplace</ng-container>
            </label>
            <select [class.is-invalid]="birthplace.invalid" [class.is-required]="birthplace.required"
              [formControl]="birthplace.formControl" [id]="birthplace.id" type="date" class="form-select" tab-index="1">
              <option disabled></option>
              @for (option of birthplaces; track option.districtCode) {
                <option [value]="option.districtCode">{{ option.name }}</option>
              }
            </select>
          </app-sui-form-group>
        </div>
      }
      <div class="col-lg-3">
        <app-sui-form-group #citizenCardNumber [name]="'citizenCardNumber'" class="d-block mb-4">
          <label [class.is-invalid]="citizenCardNumber.invalid" [class.is-required]="citizenCardNumber.required"
            [for]="citizenCardNumber.id" class="form-label">
            <ng-container i18n="@@workspace-enrollment-update-guardian-citizen-card">Citizen Card</ng-container>
          </label>
          <input [class.is-invalid]="citizenCardNumber.invalid" [class.is-required]="citizenCardNumber.required"
            [formControl]="citizenCardNumber.formControl" [id]="citizenCardNumber.id" type="text" class="form-control" tab-index="1"
            placeholder="Citizen card" i18n-placeholder="@@workspace-enrollment-update-guardian-citizen-card-placeholder">
        </app-sui-form-group>
      </div>
      <div class="col-lg-3">
        <app-sui-form-group #citizenCardExpiration [name]="'citizenCardExpiration'" class="d-block mb-4">
          <label [class.is-invalid]="citizenCardExpiration.invalid" [class.is-required]="citizenCardExpiration.required"
            [for]="citizenCardExpiration.id" class="form-label">
            <ng-container i18n="@@workspace-enrollment-update-guardian-citizen-card-expiration">Expiration</ng-container>
          </label>
          <input [class.is-invalid]="citizenCardExpiration.invalid" [class.is-required]="citizenCardExpiration.required"
            [formControl]="citizenCardExpiration.formControl" [id]="citizenCardExpiration.id" type="date" class="form-control" tab-index="1"
            placeholder="Expiration" i18n-placeholder="@@workspace-enrollment-update-guardian-citizen-card-expiration-placeholder">
        </app-sui-form-group>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <app-sui-form-group #socialSecurityNumber [name]="'socialSecurityNumber'" class="d-block mb-4">
          <label [class.is-invalid]="socialSecurityNumber.invalid" [class.is-required]="socialSecurityNumber.required"
            [for]="socialSecurityNumber.id" class="form-label">
            <ng-container i18n="@@workspace-enrollment-update-guardian-social-security-number">Social Security</ng-container>
          </label>
          <input [class.is-invalid]="socialSecurityNumber.invalid" [class.is-required]="socialSecurityNumber.required"
            [formControl]="socialSecurityNumber.formControl" [id]="socialSecurityNumber.id" type="text" class="form-control" tab-index="1"
            placeholder="Social security number" i18n-placeholder="@@workspace-enrollment-update-guardian-social-security-number-placeholder">
        </app-sui-form-group>
      </div>
      <div class="col-lg-3">
        <app-sui-form-group #taxNumber [name]="'taxNumber'" class="d-block mb-4">
          <label [class.is-invalid]="taxNumber.invalid" [class.is-required]="taxNumber.required"
            [for]="taxNumber.id" class="form-label">
            <ng-container i18n="@@workspace-enrollment-update-guardian-tax-number">Tax Number</ng-container>
          </label>
          <input [class.is-invalid]="taxNumber.invalid" [class.is-required]="taxNumber.required"
            [formControl]="taxNumber.formControl" [id]="taxNumber.id" type="text" class="form-control" tab-index="1"
            placeholder="Tax number" i18n-placeholder="@@workspace-enrollment-update-guardian-tax-number-placeholder">
        </app-sui-form-group>
      </div>
      <div class="col-lg-3">
        <app-sui-form-group #nationalHealthcareNumber [name]="'nationalHealthcareNumber'" class="d-block mb-4">
          <label [class.is-invalid]="nationalHealthcareNumber.invalid" [class.is-required]="nationalHealthcareNumber.required"
            [for]="nationalHealthcareNumber.id" class="form-label">
            <ng-container i18n="@@workspace-enrollment-update-guardian-tax-number">Tax Number</ng-container>
          </label>
          <input [class.is-invalid]="nationalHealthcareNumber.invalid" [class.is-required]="nationalHealthcareNumber.required"
            [formControl]="nationalHealthcareNumber.formControl" [id]="nationalHealthcareNumber.id" type="text" class="form-control" tab-index="1"
            placeholder="Tax number" i18n-placeholder="@@workspace-enrollment-update-guardian-tax-number-placeholder">
        </app-sui-form-group>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <app-sui-form-group #emailAddress [name]="'emailAddress'" class="d-block mb-4">
          <label [class.is-invalid]="emailAddress.invalid" [class.is-required]="emailAddress.required"
            [for]="emailAddress.id" class="form-label">
            <ng-container i18n="@@workspace-enrollment-update-guardian-email-address">Email address</ng-container>
          </label>
          <input [class.is-invalid]="emailAddress.invalid" [class.is-required]="emailAddress.required"
            [formControl]="emailAddress.formControl" [id]="emailAddress.id" type="email" class="form-control" tab-index="1"
            placeholder="Personal email address" i18n-placeholder="@@workspace-enrollment-update-guardian-email-address-placeholder">
        </app-sui-form-group>
      </div>
      <div class="col-lg-3">
        <app-sui-form-group #mobilePhoneNumber [name]="'mobilePhoneNumber'" class="d-block mb-4">
          <label [class.is-invalid]="mobilePhoneNumber.invalid" [class.is-required]="mobilePhoneNumber.required"
            [for]="mobilePhoneNumber.id" class="form-label">
            <ng-container i18n="@@workspace-enrollment-update-guardian-mobile-phone-number">Mobile</ng-container>
          </label>
          <input [class.is-invalid]="mobilePhoneNumber.invalid" [class.is-required]="mobilePhoneNumber.required"
            [formControl]="mobilePhoneNumber.formControl" [id]="mobilePhoneNumber.id" type="text" class="form-control" tab-index="1"
            placeholder="Mobile phone number" i18n-placeholder="@@workspace-enrollment-update-guardian-mobile-phone-number-placeholder">
        </app-sui-form-group>
      </div>
      <div class="col-lg-3">
        <app-sui-form-group #workPhoneNumber [name]="'workPhoneNumber'" class="d-block mb-4">
          <label [class.is-invalid]="workPhoneNumber.invalid" [class.is-required]="workPhoneNumber.required"
            [for]="workPhoneNumber.id" class="form-label">
            <ng-container i18n="@@workspace-enrollment-update-guardian-work-phone-number">Work</ng-container>
          </label>
          <input [class.is-invalid]="workPhoneNumber.invalid" [class.is-required]="workPhoneNumber.required"
            [formControl]="workPhoneNumber.formControl" [id]="workPhoneNumber.id" type="text" class="form-control" tab-index="1"
            placeholder="Work phone number" i18n-placeholder="@@workspace-enrollment-update-guardian-work-phone-number-placeholder">
        </app-sui-form-group>
      </div>
      <div class="col-lg-3">
        <app-sui-form-group #homePhoneNumber [name]="'homePhoneNumber'" class="d-block mb-4">
          <label [class.is-invalid]="homePhoneNumber.invalid" [class.is-required]="homePhoneNumber.required"
            [for]="homePhoneNumber.id" class="form-label">
            <ng-container i18n="@@workspace-enrollment-update-guardian-home-phone-number">Home</ng-container>
          </label>
          <input [class.is-invalid]="homePhoneNumber.invalid" [class.is-required]="homePhoneNumber.required"
            [formControl]="homePhoneNumber.formControl" [id]="homePhoneNumber.id" type="text" class="form-control" tab-index="1"
            placeholder="Home phone number" i18n-placeholder="@@workspace-enrollment-update-guardian-home-phone-number-placeholder">
        </app-sui-form-group>
      </div>
    </div>
  </section>
  <section class="postal-address-section mb-4">
    <div class="border-bottom fs-5 fw-bold mb-4 py-2">
      <ng-container i18n="@@workspace-enrollment-update-guardian-home-postal-address">Residence</ng-container>
    </div>
    @if (guardian.controls.residence)
    {
      <app-sui-postal-address-form [formGroupContext]="guardian.controls.residence" />
    }
    @else
    {
      <div class="d-flex align-items-center justify-content-end">
        <button (click)="addResidence()" class="btn btn-light">
          <ng-container i18n="@@workspace-enrollment-update-guardian-home-postal-address-add">Add residential postal address</ng-container>
        </button>
      </div>
    }
  </section>
</ng-container>
