<div class="d-flex align-items-baseline justify-content-between">

  <!-- Title -->
  <h1 class="h2">
    <ng-container i18n="@@workspace-service-search-title">Services</ng-container>
  </h1>

  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="[ '/' ]" i18n="@@workspace-nav-link-home">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <ng-container i18n="@@workspace-nav-link-services">Services</ng-container>
      </li>
    </ol>
  </nav>
</div>

<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <div class="card-header-title h4">
      <ng-container i18n="@@workspace-service-search-card-title">Services</ng-container>
    </div>
    <div>
      <a [routerLink]=" [ '_' ]" class="btn btn-primary">
        <ng-container i18n="@@workspace-service-search-new">Add a new service</ng-container>
      </a>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table align-middle table-fixed table-hover table-nowrap mb-0">
      <thead class="thead-light">
        <tr>
          <th i18n="@@workspace-service-search-name">Name</th>
        </tr>
      </thead>
      <tbody class="list">
        @for (result of results; track result.id) {
          <tr (click)="service(result.id)" class="pointer">
            <td>{{result.name}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="card-footer d-flex align-items-center justify-content-end">

  </div>
</div>
