<div class="d-flex align-items-baseline justify-content-between">

  <!-- Title -->
  <h1 class="h2">
    @if (number) { {{ number }} }
    @else {
      <ng-container i18n="@@workspace-enrollment-update-title">New enrollment</ng-container>
    }
  </h1>

  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="[ '/' ]" i18n="@@workspace-nav-link-home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a [routerLink]="[ '/workspace/enrollments' ]" i18n="@@workspace-nav-link-enrollments">Enrollments</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <ng-container i18n="@@workspace-nav-link-enrollments-new">New</ng-container>
      </li>
    </ol>
  </nav>
</div>

<form [formGroup]="form" (submit)="submit()">
  <div class="card">
    <div class="card-header">
      <div i18n="@@workspace-enrollment-update-card-title">Enrollment</div>
    </div>
    <div class="card-body">
      <div class="form-section form-section-enrollment mb-8">
        <div class="border-bottom border-primary text-primary d-flex align-items-center justify-content-between mb-4 py-1 fs-5 fw-bold">
          <span i18n="@@workspace-enrollment-update-enrollment">Enrollment</span>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <app-sui-form-group #serviceId [name]="'serviceId'" class="d-block mb-4">
              <label [class.is-invalid]="serviceId.invalid" [class.is-required]="serviceId.required"
                [for]="serviceId.id" class="form-label">
                <ng-container i18n="@@workspace-enrollment-update-service">Service</ng-container>
              </label>
              <select [class.is-invalid]="serviceId.invalid" [class.is-required]="serviceId.required"
                [formControl]="serviceId.formControl" [id]="serviceId.id" class="form-select">
                <option disabled i18n="@@workspace-enrollment-update-service-placeholder"></option>
                @for (service of services; track service.id) {
                  <option [value]="service.id">{{ service.name }}</option>
                }
              </select>
            </app-sui-form-group>
          </div>
          <div class="col-lg-4">
            <app-sui-form-group #facilityId [name]="'facilityId'" class="d-block mb-4">
              <label [class.is-invalid]="facilityId.invalid" [class.is-required]="facilityId.required"
                [for]="facilityId.id" class="form-label">
                <ng-container i18n="@@workspace-enrollment-update-facility">Facility</ng-container>
              </label>
              <select [class.is-invalid]="facilityId.invalid" [class.is-required]="facilityId.required"
                [formControl]="facilityId.formControl" [id]="facilityId.id" class="form-select">
                <option disabled i18n="@@workspace-enrollment-update-facility-placeholder"></option>
                @for (facility of facilities; track facility.id) {
                  <option [value]="facility.id">{{ facility.name }}</option>
                }
              </select>
            </app-sui-form-group>
          </div>
          <div class="col-lg-4">
            <app-sui-form-group #start [name]="'start'" class="d-block mb-4">
              <label [class.is-invalid]="start.invalid" [class.is-required]="start.required"
                [for]="start.id" class="form-label">
                <ng-container i18n="@@workspace-enrollment-update-start">Starts on</ng-container>
              </label>
              <input [class.is-invalid]="start.invalid" [class.is-required]="start.required"
                [formControl]="start.formControl" [id]="start.id" class="form-control"
                placeholder="" i18n-placeholder="@@workspace-enrollment-update-start-placeholder" type="text" />
            </app-sui-form-group>
          </div>
        </div>
      </div>
      <div class="form-section form-section-enrollment mb-8">
        <div class="border-bottom border-primary text-primary d-flex align-items-center justify-content-between mb-4 py-1 fs-5 fw-bold">
          <span i18n="@@workspace-enrollment-update-student">Student</span>
        </div>
        @let student = form.controls.student;
        @if (student) {
          <ng-container [formGroup]="student">
            <div class="row">
              <div class="col-lg-8">
                <app-sui-form-group #name [name]="'name'" class="d-block mb-4">
                  <label [class.is-invalid]="name.invalid" [class.is-required]="name.required"
                    [for]="name.id" class="form-label">
                    <ng-container i18n="@@workspace-enrollment-update-student-name">Name</ng-container>
                  </label>
                  <input [class.is-invalid]="name.invalid" [class.is-required]="name.required"
                    [formControl]="name.formControl" [id]="name.id" class="form-control"
                    placeholder="" i18n-placeholder="@@workspace-enrollment-update-student-name-placeholder" type="text" />
                </app-sui-form-group>
              </div>
              <div class="col-lg-4">
                <app-sui-form-group #birth [name]="'birth'" class="d-block mb-4">
                  <label [class.is-invalid]="birth.invalid" [class.is-required]="birth.required"
                    [for]="birth.id" class="form-label">
                    <ng-container i18n="@@workspace-enrollment-update-student-birth">Birthday</ng-container>
                  </label>
                  <input [class.is-invalid]="birth.invalid" [class.is-required]="birth.required"
                    [formControl]="birth.formControl" [id]="birth.id" class="form-control"
                    placeholder="" i18n-placeholder="@@workspace-enrollment-update-student-birth-placeholder" type="text" />
                </app-sui-form-group>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <app-sui-form-group #nationality [name]="'nationality'" class="d-block mb-4">
                  <label [class.is-invalid]="nationality.invalid" [class.is-required]="nationality.required"
                    [for]="nationality.id" class="form-label">
                    <ng-container i18n="@@workspace-enrollment-update-student-nationality">Nationality</ng-container>
                  </label>
                  <select [class.is-invalid]="nationality.invalid" [class.is-required]="nationality.required"
                    [formControl]="nationality.formControl" [id]="nationality.id" class="form-select">
                    <option disabled i18n="@@workspace-enrollment-update-birthplace-placeholder"></option>
                    @for (nationality of nationalities; track nationality.code) {
                      <option [value]="nationality.code">{{ nationality.name }}</option>
                    }
                  </select>
                </app-sui-form-group>
              </div>
              @if (student.controls.birthplace) {
                @defer {
                  <div class="col-lg-4">
                    <app-sui-form-group #birthplace [name]="'birthplace'" class="d-block mb-4">
                      <label [class.is-invalid]="birthplace.invalid" [class.is-required]="birthplace.required"
                        [for]="birthplace.id" class="form-label">
                        <ng-container i18n="@@workspace-enrollment-update-student-birthplace">Birthplace</ng-container>
                      </label>
                      <select [class.is-invalid]="birthplace.invalid" [class.is-required]="birthplace.required"
                        [formControl]="birthplace.formControl" [id]="birthplace.id" class="form-select">
                        <option disabled i18n="@@workspace-enrollment-update-birthplace-placeholder"></option>
                        @for (birthplace of (districts.get(student.controls.nationality.value!) ?? []); track birthplace.code) {
                          <option [value]="birthplace.code">{{ birthplace.name }}</option>
                        }
                      </select>
                    </app-sui-form-group>
                  </div>
                }
              }
            </div>
          </ng-container>
        }
        @else {
          <div class="form-section-footer d-grid gap-2 my-4">
            <button (click)="addStudentControls()" class="btn btn-light squared" type="button">
              Add student details
            </button>
          </div>
        }
      </div>
    </div>
    <div class="card-footer d-flex align-items-center justify-content-end">
      <button (click)="navigate([ '/workspace/enrollments' ])" class="btn btn-light" type="button">
        <ng-container i18n="@@workspace-enrollment-update-secondary-button">Return to search</ng-container>
      </button>
      <button [disabled]="form.invalid" class="btn btn-primary ms-4" type="submit">
        <ng-container i18n="@@workspace-enrollment-update-primary-button">Submit</ng-container>
      </button>
    </div>
  </div>
</form>

<app-sui-modal
  #success
  [actions]="successActions"
  title="All done!"
  i18n-title="@@workspace-enrollment-update-success-modal-title">
  <ng-container i18n="@@workspace-enrollment-update-success-modal">The enrollment has been saved successfully.</ng-container>
</app-sui-modal>
