<div class="d-flex align-items-baseline justify-content-between">

  <!-- Title -->
  <h1 class="h2">
    @if (number)
    {
      {{ number }}
    }
    @else
    {
      <ng-container i18n="@@workspace-enrollment-update-title">New enrollment</ng-container>
    }
  </h1>

  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="[ '/' ]" i18n="@@workspace-nav-link-home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a [routerLink]="[ '/workspace/enrollments' ]" i18n="@@workspace-nav-link-enrollments">Enrollments</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        @if (number)
        {
          {{ number }}
        }
        @else
        {
          <ng-container i18n="@@workspace-nav-link-enrollments-new">New</ng-container>
        }
      </li>
    </ol>
  </nav>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="card">
    <div class="card-header">
      <div class="card-header-title h4">
        <ng-container i18n="@@workspace-enrollment-update-card-title">Enrollment</ng-container>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-between bg-body border-light border-top border-bottom">
      <ul class="nav nav-tabs fs-5 px-5 border-0">
        <li class="nav-item">
          <a [class.active]="section === 'enrollment'" [routerLink]="[ '/workspace/enrollments', (enrollmentId ?? '_') ]" class="nav-link">
            <ng-container i18n="@@workspace-enrollment-update-nav-link-enrollment">Enrollment</ng-container>
          </a>
        </li>
        @if (form.controls.student)
        {
          <li class="nav-item">
            <a [class.active]="section === 'student'" [routerLink]="[ '/workspace/enrollments', (enrollmentId ?? '_'), 'student' ]" class="nav-link">
              <ng-container i18n="@@workspace-enrollment-update-nav-link-student">Student</ng-container>
            </a>
          </li>
        }
      </ul>
      <div class="me-5">
        <div class="dropdown">
          <div class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <ng-container i18n="@@workspace-enrollment-update-add-section">Add section</ng-container>
          </div>
          <ul class="dropdown-menu">
            @if (!form.controls.student)
            {
              <li>
                <a [routerLink]="[ 'student' ]" class="dropdown-item" href="javascript: void(0);">
                  <ng-container i18n="@@workspace-enrollment-update-add-student">Student</ng-container>
                </a>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body">
      <router-outlet />
    </div>
    <div class="card-footer d-flex align-items-center justify-content-end">
      <button [disabled]="form.invalid" class="btn btn-primary" type="submit">
        <ng-container i18n="@@workspace-enrollment-update-submit">Submit</ng-container>
      </button>
    </div>
  </div>
</form>

<app-sui-modal
  #success
  [actions]="successActions"
  title="Success"
  i18n-title="@@workspace-enrollment-update-success-modal-title">
  <p i18n="@@workspace-enrollment-update-success-modal-message">Enrollment has
    been saved successfully.</p>
</app-sui-modal>
