<ng-container [formGroup]="student">
  <div class="row">
    <div class="col-lg-9">
      <app-sui-form-group #name [name]="'name'" class="d-block mb-4">
        <label [class.is-invalid]="name.invalid" [class.is-required]="name.required"
          [for]="name.id" class="form-label">
          <ng-container i18n="@@workspace-enrollment-update-student-name">Name</ng-container>
        </label>
        <input [class.is-invalid]="name.invalid" [class.is-required]="name.required"
          [formControl]="name.formControl" [id]="name.id" type="text" class="form-control" tab-index="1"
          placeholder="Full name" i18n-placeholder="@@workspace-enrollment-update-student-name-placeholder">
      </app-sui-form-group>
    </div>
    <div class="col-lg-3">
      <app-sui-form-group #birth [name]="'birth'" class="d-block mb-4">
        <label [class.is-invalid]="birth.invalid" [class.is-required]="birth.required"
          [for]="birth.id" class="form-label">
          <ng-container i18n="@@workspace-enrollment-update-student-birth">Birth</ng-container>
        </label>
        <input [class.is-invalid]="birth.invalid" [class.is-required]="birth.required"
          [formControl]="birth.formControl" [id]="birth.id" type="date" class="form-control" tab-index="1"
          placeholder="Birthday" i18n-placeholder="@@workspace-enrollment-update-student-birth-placeholder">
      </app-sui-form-group>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <app-sui-form-group #nationality [name]="'nationality'" class="d-block mb-4">
        <label [class.is-invalid]="nationality.invalid" [class.is-required]="nationality.required"
          [for]="nationality.id" class="form-label">
          <ng-container i18n="@@workspace-enrollment-update-student-nationality">Nationality</ng-container>
        </label>
        <select [class.is-invalid]="nationality.invalid" [class.is-required]="nationality.required"
          [formControl]="nationality.formControl" [id]="nationality.id" type="date" class="form-select" tab-index="1">
          <option disabled></option>
          @for (option of nationalities; track option.code) {
            <option [value]="option.code">{{ option.name }}</option>
          }
        </select>
      </app-sui-form-group>
    </div>
    @if (student.controls.birthplace)
    {
      <div class="col-lg-3">
        <app-sui-form-group #birthplace [name]="'birthplace'" class="d-block mb-4">
          <label [class.is-invalid]="birthplace.invalid" [class.is-required]="birthplace.required"
            [for]="birthplace.id" class="form-label">
            <ng-container i18n="@@workspace-enrollment-update-student-birthplace">Birthplace</ng-container>
          </label>
          <select [class.is-invalid]="birthplace.invalid" [class.is-required]="birthplace.required"
            [formControl]="birthplace.formControl" [id]="birthplace.id" type="date" class="form-select" tab-index="1">
            <option disabled></option>
            @for (option of birthplaces; track option.code) {
              <option [value]="option.code">{{ option.name }}</option>
            }
          </select>
        </app-sui-form-group>
      </div>
    }
  </div>
</ng-container>
